@model  IEnumerable<Category>
@{
    // Get RestaurantId from ViewData
    var restaurantId = (int)ViewData["RestaurantId"];
}

<h2>Categories for Restaurant @restaurantId</h2>
<div class="m-5">
    
    <input type="hidden" name="RestaurantId" value="@restaurantId" />
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Description</th>
            <th>Image</th>
            <th>RestaurantId</th>
            <th>    </th>
            <th>    </th>
        </tr>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                
                <td>@obj.Name</td>
                <td>@obj.Description</td>
                <td>@obj.ImageUrl</td>
                <td>@obj.RestaurantId</td>
                <td> <a asp-controller="Item" asp-action="Index"  asp-route-categoryId="@obj.Id" class="btn btn-primary">go to Items</a> </td>
            </tr>
        }

    </table>
    <a asp-action="create" asp-route-restaurantId="@restaurantId" class="btn btn-primary">Add New Category</a>
</div>