@model  IEnumerable<MenuItem>
@{
   
}

<div class="text-center">
    <h1>this Items Page</h1>
</div>
<div class="m-5">
    <table>
        <tr>
            <th>id</th>
            <th>name</th>
            <th>Price</th>
            <th>Description</th>
            <th>ImageUrl</th>
            <th>IsAvailable</th>
            <th>CategoryId</th>
            
        </tr>
        @foreach(var obj in Model)
        {
            <tr>
                <td>@obj.Id</td>
                <td>@obj.Name</td>
                <td>@obj.Price</td>
                <td>@obj.Description</td>
                <td>@obj.ImageUrl</td>
                <td>@obj.IsAvailable</td>
                <td>@obj.CategoryId</td>
               
            </tr>
        }

    </table>
    
</div>